name: ruki_utils
description: "A Flutter utility library providing various helpful functions."
version: 0.1.0
homepage: https://github.com/RookiePlayers/ruki_utils.git

environment:
  sdk: ^3.9.2
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
